<p>New event</p>
<form id="event" method="Post" action="/events/create">
	Event Name: <input type="text" name="title"<%= _pre_fill(:title) %>><%= _errors(:title) %><br>
	Event Date: <input id="datepicker" type="text" name="date"<%= _pre_fill(:date) %>><%= _errors(:date) %><br>
	Organizer Name: <input type="text" name="organizer_name"<%= _pre_fill(:organizer_name) %>><%= _errors(:organizer_name) %><br>
	Organizer Email: <input type="text" name="organizer_email"<%= _pre_fill(:organizer_email) %>><%= _errors(:organizer_email) %><br>
	<input id="eventsubmit" type="submit" value="Submit">
</form>

